/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  #json-container {
    background-color: #f4f4f4;
    padding: 20px;
    white-space: pre;
  }
  
  /* JSON formatting */
  .json-key {
    color: #c36;
  }
  
  .json-string {
    color: #690;
  }
  
  .json-number {
    color: #39f;
  }
  
  .json-boolean {
    color: #c90;
  }
  
  .json-null {
    color: #999;
  }
  